@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;500;700');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style-type: circle;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

label::after {
  content: '*';
  color: #0b0b17;
}
